logs/*.log
misc.txt
235.ipynb
.venv/Source/data_preparation/data_preparation.ipynb
Source/data_preparation/data_preparation.ipynb
.venv
/Source/data/loan-eligible-dataset.zip
/Source/data/loan-test.csv
/Source/data/loan-train.csv
